
/*.list-cell:filled:selected:focused, .list-cell:filled:selected {

    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
    -fx-padding: 10px;
}*/
/*-fx-background-color: #ff4500;*/
.list-view{
    -fx-background-color: transparent;
}

.list-cell:filled {
    -fx-background-color: #222835; /* purple 513E6D -> 2A324F*/
    -fx-text-fill: white;
    -fx-padding: 6px;
}

.list-cell:empty {
    -fx-background-color: #222835;
    -fx-text-fill: white;
    -fx-padding: 0px;
}

.list-cell:filled:hover {
    -fx-background-color: #696969;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

/*scroll bar music list*/
.scroll-bar:vertical .track{
    -fx-background-color :#222835;
    -fx-border-color :#222835;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.0 0.0 0.15em;
}


.scroll-bar:vertical .thumb {
    -fx-background-color :white;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :#60CC96;
    -fx-background-radius : 2.0em;
}


