#topbar{
    -fx-background-radius: 6.0 6.0 0.0 0.0;
}

.list-view{
    -fx-background-color: transparent;
}

.list-cell:filled {
    -fx-background-color: #222835; /* purple 513E6D -> 2A324F*/
    -fx-text-fill: white;
    -fx-padding: 6px;
}

.list-cell:empty {
    -fx-background-color: #222835;
    -fx-text-fill: white;
    -fx-padding: 0px;
}

.list-cell:filled:hover {
    -fx-background-color: #696969;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

/*scroll bar music list*/
.scroll-bar:vertical .track{
    -fx-background-color :#222835;
    -fx-border-color :#222835;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.0 0.0 0.15em;
}


.scroll-bar:vertical .thumb {
    -fx-background-color :white;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :#60CC96;
    -fx-background-radius : 2.0em;
}
<<<<<<< HEAD:src/View/Style/musicListViewStyle.css
=======

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

<<<<<<< HEAD:src/View/Style/musicListViewStyle.css
<<<<<<< HEAD:src/View/Style/musicListViewStyle.css
>>>>>>> 49c6ef99408ba8f3df980e51600bf6cee2705c16:src/StyleCss/musicListViewStyle.css
=======
=======
>>>>>>> hoan1:src/StyleCss/musicListViewStyle.css
/*search bar css*/
.text-input {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}
.text-input:focused {
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill: white;
}

>>>>>>> 620da82 (upload file):src/StyleCss/musicListViewStyle.css
