/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: #b6b9cd;
    -fx-pref-width: 7px;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: #b6b9cd;
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: #444e67;
}


/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #2b3244;
}